<a href="https://colab.research.google.com/github/RMBarbado/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

Python Variables

In [9]:
x =float(1)
a, b, c = "Sally", "John", "Ana"
a, b, c = 0, -1, 2

print('This is a sample')
print(a)
print(c)

This is a sample
0
2

Casting

In [10]:
  print(x)

1.0

Type() Function

In [16]:
y = "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

In [25]:
#h = "Maria"
h = 'Maria'
v = 1
V = 3

print(h)
print(v)
print(v+1)
print(V)

Maria
1
2
3

Multiple Variables

In [33]:
x, y, z = "one", "two", "three"

print(x)
print(y)
print(z)
print(x, y, z)
print(type(x))
print(type(y))
print(type(z))

one
two
three
one two three
<class 'str'>
<class 'str'>
<class 'str'>

One Value to Multiple Variables

In [35]:
x = y = z = "Stella"

print(x)
print(y)
print(z)
print(x, y, z)

Stella
Stella
Stella
Stella Stella Stella

Output Variables

In [39]:
x = "enjoying"
y = "Python is"

print(y+" "+x)

Python is enjoying

Arithmetic Operations

In [50]:
f = 1
g = 2
i = 6

print(f + g)
print(f - g)
print(f * g)
print(int(i / g))
print(3 / g)
print(3 % g)
print(3 // g)
print(g ** i)
print (f + i - g)

3
-1
2
3
1.5
1
1
64
5

Assignment Operator

In [62]:
k = 2
l = 1

#print(k+=2)
print(k)
print(k>>2) #shift right twice
print(k<<2) #shift left twice

2
0
8

Assignment Operators

In [64]:
s = 2
s*=5 #Same as s = s * 5

print(s)

10

Relational Operators

In [69]:
print(v>s) #v = 1, s = 2
print(v==s)

False
False
True

Logical Operators

In [73]:
print(v<s and s==s) #If both statements are true, it will print out true
print(v<s or v>s) #If only one statement is true, it will print out true

True
True

Identity Operators

In [77]:
print(s is s)
print(v is not s)

True
True