<a href="https://colab.research.google.com/github/RMBarbado/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

Python Variables

In [9]:
x =float(1)
a, b, c = "Sally", "John", "Ana"
a, b, c = 0, -1, 2

print('This is a sample')
print(a)
print(c)

This is a sample
0
2

Casting

In [10]:
  print(x)

1.0

Type() Function

In [16]:
y = "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

In [25]:
#h = "Maria"
h = 'Maria'
v = 1
V = 3

print(h)
print(v)
print(v+1)
print(V)

Maria
1
2
3

Multiple Variables

In [33]:
x, y, z = "one", "two", "three"

print(x)
print(y)
print(z)
print(x, y, z)
print(type(x))
print(type(y))
print(type(z))

one
two
three
one two three
<class 'str'>
<class 'str'>
<class 'str'>

One Value to Multiple Variables

In [35]:
x = y = z = "Stella"

print(x)
print(y)
print(z)
print(x, y, z)

Stella
Stella
Stella
Stella Stella Stella

Output Variables

In [39]:
x = "enjoying"
y = "Python is"

print(y+" "+x)

Python is enjoying