<a href="https://colab.research.google.com/github/RMBarbado/OOP-58001/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [3]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool() function

In [8]:
print(bool("Maria"))
print(bool(19))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(False))
print(bool(None))

True
True
False
False
True
False
False

Function can return Boolean

In [21]:
def myFunction():
  return True 

print(myFunction())

True

In [22]:
if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

Application 1

In [29]:
print(10>9)

a=60
b=13
print(a>b)

if a<b:
  print("a is less than b")
else:
  print("a is greater than b")

True
True
a is greater than b

Python Operators

In [28]:
print(10+3)
print(10-3)
print(10*3)
print(10//3)
print(10%3)
print(10**3)

13
7
30
3
1
1000

Bitwise Operators

In [40]:
#a = 60, binary 0011 1100
#b = 13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)

12
61
49
120
240

Application 2

#Assignment Operators

In [48]:
x = 2

x+=3 #same as x = x + 3
print(x)
x-=3 #same as x = x - 3
print(x)
x*=3 #same as x = x * 3
print(x)
x/=3 #same as x = x / 3
print(x)
x%=3 #same as x = x % 3
print(x)

5
2
6
2.0
2.0

Logical Operators

In [56]:
k = True
l = False

print(k and l)
print(k or l)
print(not k or l)

False
True
False

Identity Operators

In [58]:
k is l
k is not l

True

#Control Structure

If Statement

In [76]:
v = 3
z = 2

if 2<3:
  print("2 is less than 3")

2 is less than 3

Elif Statement

In [68]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")

v is greater than z

Else Statement

In [83]:
number = int(input()) #to know if the number is positive or negative

if number>0:
  print("positive")
elif number<0:
  print("negative")
else:
  print("number is equal to 0")

-100
negative

Application 3 - Develop a Python program that will accept if a person is entitled to vote or not

In [87]:
age = int(input())

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote
  ")

20
You are qualified to vote

Nested If... Else

In [112]:
u = int(input())

if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
    if u>30:
      print("u is above 30")
      if u>40:
        print("u is above 40")
        if u>50:
          print("u is above 50")
        else:
          print("u is below 50")

49
u is above 10
u is above 20
u is above 30
u is above 40
u is below 50

#Loop Structure

In [117]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
season = ["rainy", "sunny"]

for x in week:
  for y in season:
    print(y, x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The break statement

In [128]:
for x in week:
  if x == "Thursday":
    break
print(x)

Thursday

In [130]:
for x in week:
  if x == "Thursday":
    break 
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday

In [133]:
#To display Sunday to Thursday

for x in week:
  print(x)
  if x == "Thursday": 
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While Loop

In [136]:
i = 1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 4 - Create a Python program that displays numbers from 1 to 4

In [139]:
j = 1

while j<=4:
  print(j)
  j+=1

1
2
3
4

Application 5 - Create a Python program that displays numbers 4 using While Loop statement and break statement

In [151]:
j = 1

while j<=4:
  if j==4:
    print(j)  
  j+=1

4